<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<connectionStrings>
		<add name="ProjectFinal" connectionString="Data Source=.;Initial Catalog=ProjectFinal;Persist Security Info=True;User ID=sa;Password=1234567" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<system.web>
		<customErrors mode="On" defaultRedirect="404.html">
			<error statusCode="404" lockItem="true" redirect="404.html"/>
		</customErrors>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	
	<system.webServer>
		<httpErrors></httpErrors>
	</system.webServer>
</configuration>